{{ define "main" }}
<div class="hx:mx-auto hx:flex hx:justify-center hextra-max-page-width">
  <article class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-1 hx:md:px-6">
    <main id="content" class="hx:w-full hx:min-w-0 hx:max-w-4xl hx:mx-auto hx:relative">

      <header class="content-header hx:mt-1.5 hx:mb-8">
        <h1 class="content-title hx:mt-2 hx:mb-4 hx:text-4xl hx:font-bold hx:tracking-tight">
          {{ .Title }}
        </h1>
        {{ with .Description }}
        <p class="content-description hx:mt-6 hx:text-xl">{{ . }}</p>
        {{ end }}
      </header>

      <div class="content-enhanced classical-typography content-hierarchy hx:content">
        {{ .Content }}
      </div>

    </main>
  </article>
</div>
{{ end }}
