{{/* Hextra head-end override for GDPR compliance + SEO */}}
{{/* Content Security Policy for enhanced security */}}
<meta http-equiv="Content-Security-Policy" content="
default-src 'self';
script-src 'self' 'unsafe-inline' https://ko-fi.com https://cdn.ko-fi.com;
style-src 'self' 'unsafe-inline';
img-src 'self' data: https://ko-fi.com https://cdn.ko-fi.com https://uploads-ssl.webflow.com;
font-src 'self' data:;
connect-src 'self' https://ko-fi.com;
frame-src https://ko-fi.com;
object-src 'none';
base-uri 'self';">

{{/* AGILE SAPIENS Typography System - Brand Guide v2.5 */}}
{{ $typographyCSS := resources.Get "css/typography-brand-guide-v2.5.css" | minify }}
<link rel="stylesheet" href="{{ $typographyCSS.Permalink }}">

{{/* AGILE SAPIENS Visual Framework - Academic Book Illustrations */}}
{{ $visualsCSS := resources.Get "css/visuals-framework.css" | minify }}
<link rel="stylesheet" href="{{ $visualsCSS.Permalink }}">

{{/* Include JSON-LD structured data for SEO */}}
{{- partial "custom/schema-jsonld.html" . }}

{{/* Include Twitter Card meta tags */}}
{{- partial "custom/twitter-card.html" . }}

{{/* Include cookie consent in head-end */}}
{{- partial "custom/cookie-consent.html" . }}
